*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: url(/image/back2.jpg);
    background-size: cover; */
    background-color: #545250;
}
/* Phần header */
.header1{
    height: 70px;
    background-color:#110e0b;
    margin-top: -10px;
    width: 100%;
}
h3{
    color: #e6a3a3;
    padding-left: 12rem;
  }
#signupin a{
      text-decoration: none;
      color: white;
      padding: 10px;
  }
  
#signupin a:hover{
      color: #fb414b;
  }
.map{
    position: absolute;
    right: 32%;
    top: 28%;
    color: #f1f1f1;
  }
.phone{
    position: absolute;
    right: 15%;
    top: 28%;
    color: #f1f1f1;
  }
#signupin{
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding-left: 70px;
}
.logout{
  margin-left: 90px;
  border-radius: 5%;
  font-size: 17px;
  color: #857d7d;
  background-color: #bccbeb;
  padding: 5px;
}
.logout:hover{
  background-color: #eef2f9;
}

/* Phần điều hướng */
.nav{
    margin-top: -10px;
    background-color: rgb(54, 53, 52);
    position: sticky;
    top: 0px;
    z-index: 1000000;
}
.navbar-brand i{
    padding-left: 30px;
}
.navbar-nav li a:hover{
    color: #555b05;
}
#navbarNavDropdown ul li{
    padding-left: 50px;
}
.hover{
    padding-right: 50px;
}
.hover li a{
    color: white;
}
.dropdown:hover .dropdown-menu { 
    display: block; 
    margin-top: 0;
}

/* Phần table */
.element{
    text-align: center;
}
h1{
    padding-top: 3rem;
    text-align: center;
    color: rgb(249, 249, 249);
}
.element img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.buyandsell{
    display: flex;
}
.btnQuantity{
    margin:0px 10px;
    padding: 10px;
    font-size: 0px;
    border: none;
}
.btnQuantity i{
    font-size: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
#table .sum{
    background-color: #037603;
}
tr td{
      border: 1px solid black;
      padding: 19px;
}

tr:nth-child(odd) {
      background-color: white;
}

tr:nth-child(even) {
      background-color: rgb(205, 217, 218);
}
.deleteButton{
    border: none;
}
.row1{
    color: #030303;
}
.pay{
    color: #e53803;
    border: none;
}
/* footer */
.footer {
    padding-top: 30px;
    text-align: center;
    background-color: antiquewhite;
    margin-top: -20px;
  }

 .footer-copyright h3{
    padding-left: 30px;
  }
  
  .footer-logo img {
    display: block;
    width: 250px;
    margin: auto;
    background-color: #545250;
  }
  
  .footer-social {
    padding: 0;
    display: inline-block;
    margin: 30px 0;
    list-style: none;
  }
  
  .footer-social li {
    display: inline-block;
    padding: 0 10px;
  }
  
  .footer-social li i {
    font-size: 25px;
  }
  
  .footer-social li a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .footer-link {
    list-style: none;
  }
  
  .footer-link li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid var(--primary-color);
  }
  
  .footer-link li:last-child {
    border-right: none;
  }
  
  .footer-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 14px;
  }

  /* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #383334;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 60px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* @-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
   */



