*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: url(/image/back2.jpg);
  background-size: cover;
}
/* Phần header */
.header1{
    height: 70px;
    background-color:#110e0b;
    margin-top: -10px;
    width: 100%;
}
h3{
  color: #e6a3a3;
  padding-left: 12rem;
}
#signupin a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

#signupin a:hover{
    color: #fb414b;
}
.map{
  position: absolute;
  right: 34.5%;
  top: 28%;
  color: #f1f1f1;
}
.phone{
  position: absolute;
  right: 20%;
  top: 28%;
  color: #f1f1f1;
}
#signupin a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-left: 30px;
}
#signupin a:hover{
  color: #fb414b;
}
/* Phần điều hướng */
.nav{
    margin-top: -10px;
    background-color: rgb(54, 53, 52);
    position: sticky;
    z-index: 100000;
    top: 0px;
}
.navbar-brand i{
  padding-left: 30px;
}
.navbar-nav li a:hover{
    background-color: #18f8cf;
}
#navbarNavDropdown ul li{
    padding-left: 50px;
}
.hover{
    padding-right: 50px;
}
.hover li a{
  color: white;
}
.dropdown:hover .dropdown-menu { 
    display: block; 
    margin-top: 0;
}
/* Đăng ký */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.container{
  padding: 16px;
  border: 1px salmon;
  background-color: rgba(0,0,0,0.3);
  width: 40%;
  height: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container input{
  margin-left: 3rem !important;
}
.container h1, p{
  text-align: center;
}
.container label{
  margin-left: 3rem;
}
.container button{
  margin-left: 10rem;
}
.container p{
  color: #f44336;
}
h1, label{
  color: rgb(206, 251, 242);
}
.checkboxx{
  margin-left: 7rem !important;
}

/* Full-width input fields */
  input[type=text], input[type=password], input[type=email], input[type=number] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
 button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  background-color: #0edaf5;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  width: 30%;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#result{
  color: red;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



